<form #contentForm = "ngForm">

  <label>Resource type :</label>
  <select name="type" [(ngModel)]= "type">
    <option value="Bursary">Bursary</option>
    <option value="Resource">Resource</option>
  </select>
  <br><br>

  <label>Title :</label>
  <input type="text" name="title" required [(ngModel)]="title" >
  <br><br>
  <label>Subtitle :</label>
  <br>
  <textarea rows="10" cols="80" name="subtitle" required [(ngModel)]="subtitle"></textarea>
  <br><br>

  <div [ngSwitch] = "type">
    <app-university-content-form *ngSwitchCase = "'University'"></app-university-content-form>
    <app-bursary-content-form *ngSwitchCase = "'Bursary'"></app-bursary-content-form>
    <app-resource *ngSwitchCase = "'Resource'"></app-resource>
  </div>
  <br><br>

  <label>Image :</label>
  <input type="file" name="image" value="" (change)= "up($event)">

  <button type="button" name="submit" (click) = "onSubmit(); contentForm.reset()">Submit</button>
</form>
