<label>Applicable Fields :</label> <button name="add" (click)="addField()" >Add field</button>
<button name="delete" (click)= "removeField()">Remove field</button>
<p *ngIf = "numFields==0">No current Fields</p>
<div *ngFor = "let field of applicableFields ; let i = index; trackBy: trackByFn" >
  <label>{{i}}:</label> <input type="text" [(ngModel)]= "applicableFields[i]">
</div>
<br>
<label>Application Process :</label>
<div class="textArea">
    <textarea name="text" rows="10" cols="80" required [(ngModel)] = "instructions"></textarea>
</div>
<br>

<label>Link :</label>
<input type="text" name="link"[(ngModel)] = "link">
<br>

<label>Closing date :</label>
<input type="text" name="closingDate"[(ngModel)] = "closingDate">
<br>

<label>Field :</label>
<input type="text" name="compName"[(ngModel)] = "field">
<br>

<label>Requirements :</label> <button name="addR" (click)="addReq()" >Add Requirement</button>
<button name="deleteR" (click)= "removeReq()">Remove requirement</button>
<p *ngIf = "numReqs==0">No current requirements</p>
<div *ngFor = "let req of requirements ; let i = index; trackBy: trackByFn" >
  <label>{{i}}:</label> <input type="text" [(ngModel)]= "requirements[i]">
</div>
<br><br>

<label>Support :</label><br>
<textarea name="support" rows="10" cols="80" [(ngModel)] = "support"></textarea>
<br><br>
