<form >
  <label>Field :</label> <input type="text" name="Field" [(ngModel)] = "field"><br><br>
  <label>Text :</label><br>
  <textarea name="text" rows="8" cols="80" [(ngModel)] = "text"></textarea><br>
</form>
