<label>Location :</label>
<input type="text" name="location" [(ngModel)] = "location">
<br>

<label>Application closing dates :</label>
<div class="textArea">
  <textarea rows="10" cols="80" name="closingDate" [(ngModel)] = "date"></textarea>
</div>
<br>

<label>Website link :</label>
<input type="text" name="link" required [(ngModel)] = "link">
<br>

<label>NBT required :</label>
<select name="nbt" [(ngModel)]= "nbt">
  <option value="Yes">Yes</option>
  <option value="No">No</option>
</select>
<br>

<label>Qualifications :</label> <button name="add" (click)="addQual()" >Add qualification</button>
<button name="delete" (click)= "removeQual()">Remove Qualification</button>
<p *ngIf = "numQuals==0">No current qualifications</p>
<div *ngFor = "let qua of qualifications ; let i = index; trackBy: trackByFn" >
  <label>{{i}}:</label> <input type="text" [(ngModel)]= "qualifications[i]">
</div>
